@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?qwc7ue');
  src:  url('fonts/icomoon.eot?qwc7ue#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?qwc7ue') format('truetype'),
    url('fonts/icomoon.woff?qwc7ue') format('woff'),
    url('fonts/icomoon.svg?qwc7ue#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e921";
}
.icon-menu:before {
  content: "\e920";
}
.icon-star:before {
  content: "\e91f";
}
.icon-share:before {
  content: "\e91e";
}
.icon-minus:before {
  content: "\e91b";
}
.icon-Search-Icon-2:before {
  content: "\e91c";
}
.icon-clear:before {
  content: "\e91d";
}
.icon-refresh:before {
  content: "\e91a";
}
.icon-edit:before {
  content: "\e919";
}
.icon-x-mark:before {
  content: "\e918";
}
.icon-phone:before {
  content: "\e912";
}
.icon-email:before {
  content: "\e913";
}
.icon-x:before {
  content: "\e914";
}
.icon-facebook:before {
  content: "\e915";
}
.icon-telegram:before {
  content: "\e916";
}
.icon-instagram:before {
  content: "\e917";
}
.icon-plus:before {
  content: "\e911";
}
.icon-calendar:before {
  content: "\e910";
}
.icon-download:before {
  content: "\e90f";
}
.icon-lock .path1:before {
  content: "\e90d";
  color: rgb(255, 255, 255);
}
.icon-lock .path2:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(255, 140, 0);
}
.icon-play:before {
  content: "\e90c";
}
.icon-logout:before {
  content: "\e906";
}
.icon-more:before {
  content: "\e90b";
}
.icon-saved:before {
  content: "\e90a";
}
.icon-card:before {
  content: "\e907";
}
.icon-order:before {
  content: "\e908";
}
.icon-user:before {
  content: "\e909";
}
.icon-radio-tick .path1:before {
  content: "\e904";
  color: rgb(37, 133, 255);
}
.icon-radio-tick .path2:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-radio:before {
  content: "\e903";
}
.icon-icon-tick:before {
  content: "\e902";
}
.icon-chevron:before {
  content: "\e901";
}
.icon-location-pin:before {
  content: "\e900";
}
