/* Aeonik Pro */
@font-face {
	font-family: "Aeonik Pro";
	font-style: normal;
	font-weight: 100;
	font-display: swap;
	src: url("../fonts/AeonikPro/AeonikPro-Air.otf") format("opentype");
}
@font-face {
	font-family: "Aeonik Pro";
	font-style: normal;
	font-weight: 200;
	font-display: swap;
	src: url("../fonts/AeonikPro/AeonikPro-Thin.otf") format("opentype");
}
@font-face {
	font-family: "Aeonik Pro";
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url("../fonts/AeonikPro/AeonikPro-Light.otf") format("opentype");
}
@font-face {
	font-family: "Aeonik Pro";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("../fonts/AeonikPro/AeonikPro-Regular.otf") format("opentype");
}
@font-face {
	font-family: "Aeonik Pro";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url("../fonts/AeonikPro/AeonikPro-Medium.otf") format("opentype");
}
@font-face {
	font-family: "Aeonik Pro";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("../fonts/AeonikPro/AeonikPro-Bold.otf") format("opentype");
}
@font-face {
	font-family: "Aeonik Pro";
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url("../fonts/AeonikPro/AeonikPro-Black.otf") format("opentype");
}

/* Adero Trial */
@font-face {
	font-family: "Adero Trial";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("../fonts/AderoTrial/AderoTrial-Regular.otf") format("opentype");
}
@font-face {
	font-family: "Adero Trial";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url("../fonts/AderoTrial/AderoTrial-Medium.otf") format("opentype");
}
@font-face {
	font-family: "Adero Trial";
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url("../fonts/AderoTrial/AderoTrial-SemiBold.otf") format("opentype");
}
@font-face {
	font-family: "Adero Trial";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("../fonts/AderoTrial/AderoTrial-Bold.otf") format("opentype");
}
@font-face {
	font-family: "Adero Trial";
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src: url("../fonts/AderoTrial/AderoTrial-ExtraBold.otf") format("opentype");
}
@font-face {
	font-family: "Adero Trial";
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url("../fonts/AderoTrial/AderoTrial-Black.otf") format("opentype");
}

/* AstroHead */
@font-face {
	font-family: "AstroHead";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("../fonts/AstroHead/Astrohead.otf") format("opentype");
}
@font-face {
	font-family: "AstroHead";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("../fonts/AstroHead/Astrohead-Bold.otf") format("opentype");
}
@font-face {
	font-family: "AstroHead";
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url("../fonts/AstroHead/Astrohead-Light.otf") format("opentype");
}

/* MtseExtended */
@font-face {
	font-family: "MTSExtended";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("../fonts/MtsExtended/MTSEExtended-Regular.ttf") format("truetype");
}
@font-face {
	font-family: "MTSExtended";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url("../fonts/MtsExtended/MTSEExtended-Medium.ttf") format("truetype");
}
@font-face {
	font-family: "MTSExtended";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("../fonts/MtsExtended/MTSEExtended-Bold.ttf") format("truetype");
}
@font-face {
	font-family: "MTSExtended";
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url("../fonts/MtsExtended/MTSEExtended-Black.ttf") format("truetype");
}

/* Font utility classes */
.font-aeonik-pro {
	font-family: "Aeonik Pro", sans-serif;
}
.font-adero-trial {
	font-family: "Adero Trial", sans-serif;
}
.font-astro-head {
	font-family: "AstroHead", sans-serif;
}
.font-mtse-extended {
	font-family: "MTSExtended", sans-serif;
}

/* Default html font */
html {
	font-family:
		"Aeonik Pro",
		ui-sans-serif,
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		"Helvetica Neue",
		Arial,
		"Noto Sans",
		sans-serif,
		"Apple Color Emoji",
		"Segoe UI Emoji",
		"Segoe UI Symbol",
		"Noto Color Emoji";
}
